
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Ignore DBeaver project files
.metadata/
workspace6/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore build artifacts
target/
bin/
*.class

# Ignore DBeaver snapshot files
*.snap
.snap

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
src/main/resources/custom.properties
*.xml
src/main/webapp/WEB-INF/sql/.metadata/.plugins/org.jkiss.dbeaver.ui/dialog_settings.xml

