HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
src/main/resources/custom.properties
src/main/webapp/WEB-INF/sql/.metadata/.lock
src/main/webapp/WEB-INF/sql/.metadata/.log
src/main/webapp/WEB-INF/sql/.metadata/.config/drivers.xml
src/main/webapp/WEB-INF/sql/.metadata/dbeaver-debug-1681366100633.log
src/main/webapp/WEB-INF/sql/.metadata/dbeaver-instance.properties
src/main/webapp/WEB-INF/sql/.metadata/dbeaver-debug.log
